.guessnumber {
background-color: #B8B8B8;
font-family: Georgia;
font-size: 15px;
color: black;
}
h1 {
color:  #990099;
font-family: Georgia;
}
.field {
background-color: #B8B8B8;
}
.foot {
background-color: #B8B8B8;
font-family: Georgia;
}
h3 {
color: black;
font-style: italic;
}
body {
	background-color: #B8B8B8;
}
.message {
	color: black;
}
a {
	color: #990099;
	font-family: Georgia;
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

th, td {
  padding: 1em;
  background: #ddd;
  border-bottom: 2px solid white; 
  text-align: left;
}

	
	