@font-face {
  font-family: 'Chalkduster';
  src: url('/fonts/Chalkduster.ttf');
}
body {
	background-color: #D3D3D3;
}
.puzzle {
  background-color: #C8C8C8;
}
.minesweeper {
	background-color: #C0C0C0;
}
.number {
	background-color: #B8B8B8;
}

h3{
	text-align: center;
	color:#282828;
}
.center {
	margin: 0 auto;
}
.game {
	border:thin solid black;
	border-radius: 1%;
	max-width: 40.625em;
	height: auto;
	
}
h3 {
	margin: 1.5em 0.3125em 3.125em 0.3125em; 
	font-family: Georgia;
	text-shadow: 0.0625em 0.0625em 0.125em grey, 0 0 1em magenta, 0 0 0.2em magenta;
}

.welcome h1{
	
	font-family: 'Chalkduster';
	font-style: italic;
	color: #990099;
	text-align: center;
	margin: 1.5em auto 0 auto;
}
ul {
	list-style: none;
	text-align: center;
}
li {
	color: white;
	font-size: 0.9375em;
}
.mines img {
	width: 15.625em;
	height: auto;
}
.guess img {
	width: 10.625em;
	height: auto;
}
.puzzlepic img {
	width: 10.625em;
	height: auto;
}
.tsystems img {
	width: 12.5em;
}
.log {
	color: black;
	font-family: Georgia;
	font-size: 0.9375em;
}
.regist {
	margin-top: 0.625em;
}
.sponsor {
	color: black;
	font-family: Georgia;
	font-size: 0.9375em;
}
a {
	color: #990099;
	font-family: Georgia;
	font-size: 1.25em;
}
.here {
	color: #990099;
	font-family: Georgia;
	font-size: 0.9375em;
}
.logout {
	font-size: 0.9375em;
}
.picguess {
	display: inline-block;
}
.guess {
	margin: 0 auto;
}

/*MEDIA QUERIES */

@media (max-width: 800px){
	.game{
	width: 350px;
	}
	.pisguess
}


