<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<!-- Bootstrap CSS -->

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	
<link rel="stylesheet" href="/css/puzzle/puzzle.style.css">
<title>Puzzle</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container">
	<div class="row puzzle">
	<section class="col-2 log">
		<div th:if="${not @mainController.logged}">
			You are not logged. Please, <a href="/">log in.</a></div>
			<div th:if="${@mainController.logged}">
			You are logged as <span th:text="${@mainController.loggedPlayer.name}"></span>
		</div>
	</section>
	<section class="col-8 game">
		<h1 class="text-center">Puzzle</h1>
		<div class="text-center"><a href="/puzzle">New game</a></div>
		<br/>
	</section>
	<section class="col-2 menu">
		<p>Back to <a href="/">main page.</a></p>
	</section>
	</div>
	</div>
	<div class="container">
	<div class="row field">
		<div th:if="${not @puzzleController.solved}">
			<div class="col-6" th:utext="${@puzzleController.htmlField}"></div>
		</div>
		<div th:if="${@puzzleController.solved}">
			You've solved the Puzzle!<br/></div>
			<img class="center-block" src="/images/puzzle/puzzle.jpg"/>
	</div>
	</div>
	<div class="container">
		<div class="row foot">
			<section class="col-4 score">
				<div th:if="${not @mainController.logged}">
				If you want to store your score, you must to be logged. <a href="/">Log in.</a></div>
				<h3>Scores</h3>

				<table class="  score table-responsive">
					<thead>
						<tr>
						<th>Username</th>
						<th>Score</th>
						<th>Game</th>
						</tr>
					</thead>
					<tbody>
					<tr th:each="score : ${@puzzleController.scores}">
						<td><span th:text="${score.username}"></span></td>
						<td><span th:text="${score.value}"></span></td>
						<td><span th:text="${score.game}"></span></td>
					</tr>
				</tbody>
				</table>
			</section>
			<section class="col-4 comments">
				<div th:if="${not @mainController.logged}">
				If you want to leave a comment, you must to be logged. <a href="/">Log in.</a></div>
				<h3>Comments</h3>
				
				<table class="comments table-responsive">
					<thead>
						<tr>
						<th>Username</th>
						<th>Game</th>
						<th>Comment</th>
						</tr>
					</thead>
					<tbody>
					<tr th:each="comment : ${@puzzleController.comments}">
						<td><span th:text="${comment.username}"></span></td>
						<td><span th:text="${comment.game}"></span></td>
						<td><span th:text="${comment.content}"></span></td>
					</tr>
				</tbody>
				</table>
				
				<div th:if="${@mainController.logged}">
					<form action="/puzzle/comment">
						<div class="form-group">
			   			<input type="text" name="content" class="form-control">
		  				</div>
		  				<button type="submit" class="btn btn-outline-secondary">Add</button>
     				</form>
     			</div>
     		</section>
     		<section class="col-4 rating">
     			<div th:if="${not @mainController.logged}">
					Do you want to rate a game? You must to be logged. <a href="/">Log in.</a></div>
				<h3>Rating</h3>
				<div th:text="${@puzzleController.averageRating}"></div>
				<div th:if="${@mainController.logged}">
					<form action="/puzzle/rate">
						<div class="form-group">
							<input type="radio" name="rating" id="1" value="1"><label for="1">1</label>
							<input type="radio" name="rating" id="2" value="2"><label for="2">2</label>
							<input type="radio" name="rating" id="3" value="3"><label for="3">3</label>
							<input type="radio" name="rating" id="4" value="4"><label for="4">4</label>
							<input type="radio" name="rating" id="5" value="5"><label for="5">5</label>
		  					<button type="submit" class="btn btn-outline-secondary">Rate</button>
		  				</div>
     				</form>
     			</div>
     		</section>
     		</div>
     		</div>
	
</body>
</html>
