.minesweeper {
background-color: #C0C0C0;
font-family: Georgia;
font-size: 15px;
color: black;
}
h1 {
color: #990099;
font-family: Georgia;
}
.field {
background-color: #C0C0C0;
color: black;
}
.foot {
background-color: #C0C0C0;
font-family: Georgia;
}
h3 {
color: white;
font-style: italic;
}
body {
	background-color: #C0C0C0;
}
a {
	color: #990099;
	font-family: Georgia;
}